	* {
	    	font-family: "Roboto", "ぼくたちのゴシック２ボールド" !important;
	    	outline: none;
	}
	html,
	body {
		height: 100% !important;
		padding: 0;
		margin: 0;
		overflow: hidden;
	}
	#container {
		/* MAIN CONTAINER */
		background: linear-gradient(55deg, black 12%, #0665bb, #1fff00 80% );
		width: 100%;
		height: 100%;
		margin: auto;
		text-align: center;
	}
	#banner {
		background: no-repeat url("https://64.media.tumblr.com/4e66390531fd3ad9ec36c6e45c749569/f0b8ce58e9add942-b9/s500x750/26bde256555a7d937bd68ac9815e5562bedae24a.gifv") center 60%;
		background-size: cover;
		height: 25%;
		width: 100%
	}
	#banner #message {
		background: rgba(33, 33, 33, .5);
		height: 100% !important;
		width: inherit;    
		display: flex;
		align-items: center;
		justify-content: center;
	}
	#banner #message #message_box {
		color: #FFF;
		font-family: "Bebas Neue" !important;
		font-size: 40pt;
		font-weight: bold;
		letter-spacing: 10px !important;
	}
	#banner #time_box {
		color: #000000;
		right: 20px;
		text-align: right;
	}
	#banner #day_box {
		color: #00B5B5;
		left: 20px;
		text-align: left;
	}
	#banner #time_box,
	#banner #day_box {
		background: rgba(0,0,0,0);
		box-shadow: 0px 1px 2px rgba(0,0,0,.1) !important;
		border-radius: 2px !important;
		font-family: "Roboto";
		font-size: 14pt;
		font-stretch: condensed;
		padding: 10px 15px;	
		width: auto !important;
		position: absolute;
		bottom: 20px;
	}
	#searchbox {
		border: none;
		box-shadow: 0px 1px 2px rgba(0,0,0,.1) !important;
		background: linear-gradient(to right, #000000 40%, #0046ff 100%);
		color: #60646D;
		font-size: 11pt !important;
		font-stretch: condensed;
		font-weight: bold;
		letter-spacing: .2px !important;
		text-transform: uppercase;
		height: 40px;
		width: 100%;
		padding: 15px 20px
	}
	#image-button {
		background-color: transparent;
		background-image: url("icons/search_icon.png");
		background-position: center;
		background-repeat: no-repeat;
		background-size: 18px auto;
		border: none;
		position: absolute;
		height: 70px;
		width: 70px;
		margin-top: -70px;
		right: 1px;
	}
	#main {
		height: 100%;
		width: 100%;
		padding: 22px 0px;
		margin-top: 60px;
	}
	.card {
		background: #F6F7FB;
		box-shadow: 0px 0px 9px 2px rgb(126 255 109 / 0%);
		border-radius: 2px;
		width: 12vw;
		height: auto;
		padding-bottom: 1.2vw;
		margin-bottom: 20px;
		margin-right: 15px;
		display: inline-block !important;
		text-align: center;
	}
	.card .avatar {
		border-radius: 25%;
		box-shadow: 0px 0px 16px 0px rgb(200 251 112), 0px 0px 17px 12px rgb(30 1 255);
		height: 8.5vw;
		width: 8.5vw;
		margin-top: 30px;
	}
	.card p {
		color: #FFF;
		font-family: "Roboto", "KFhimaji" !important;
		font-stretch: condensed;
		font-weight: bold;
		letter-spacing: 4px;
		text-transform: uppercase;
		text-shadow:0px 0px 6px rgb(200 251 112), 0px 0px 4px rgb(144 255 156);
	}
	select {
	
    background: #0000;
    box-shadow: 0px 2px 12px 1px rgb(255 244 0 / 0%);
    color: white;
    border: none;
    font-family: "Roboto" !important;
    font-stretch: condensed;
    font-weight: bold;
    letter-spacing: 5.5px;
    width: 81%;
    text-transform: uppercase;
    margin-top: 14px;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 17px;
    text-overflow: inherit;
    white-space: nowrap;
    overflow: auto;

	}

.choice {
background: #000;
}
